
@if (podcastError()) {
<h1 class="title">Podcast</h1>
<p class="section text-accent">Failed to load the Podcast. Please try reloading the page or navigating to My Library.</p>
<p class="section flex gap-2">
    <a href="javascript:window.location.href=window.location.href" class="button button-accent" [title]="'Reload'">Reload</a>
    <a class="button button-accent" [title]="'Podcasts'" [routerLink]="['/podcasts']">Podcasts</a>
    <a class="button button-accent" [title]="'My Library'" [routerLink]="['/my-library']">My Library</a>
</p>
}

@else {
<div class="section flex flex-wrap gap-2">
    <a class="link font-medium leading-normal" [routerLink]="['/podcasts']" [title]="'Podcasts'">Podcasts</a>
    <span class="text-accent font-medium leading-normal">/</span>
    <span class="font-medium leading-normal">{{podcast().name}}</span>
</div>

<div class="w-full bg-center bg-no-repeat bg-cover bg-parallax bg-accent flex flex-col justify-center overflow-hidden rounded-xl min-h-[150px] sm:min-h-[250px]"
    [style.background-image]="'url(' + (podcast().coverImageUrl) + ')'">
</div>

<h1 class="title flex justify-between items-start gap-2">
    {{podcast().name}}

    <button *appAuth type="button" class="button button-accent shrink-0 flex gap-2"
        [title]="podcast().isInMyLibrary ? 'Remove from My Library' : 'Add to My Library'" (click)="toggleMyLibrary()">
        @if(podcast().isInMyLibrary) {
        <fa-icon [icon]="faBookBookmark" />
        <span class="hidden lg:inline">Remove from My Library</span>
        }
        @else {
        <fa-icon [icon]="faBookOpen" />
        <span class="hidden lg:inline">Add to My Library</span>
        }
    </button>
</h1>

<p class="subtitle text-accent">
    @for(creator of podcast().voicers; track $index) {
    <a>{{ creator.nickname }}</a>@if (!$last) {, }
    }
</p>

<p class="section">
    {{podcast().description}}
</p>

@if(podcast().episodes!.length > 0) {
<div class="section flex flex-1 gap-4 flex-wrap items-center justify-start">
    <button type="button" class="button button-primary button-rounded shrink-0" [title]="'Play all Episodes'"
        (click)="playAll()">
        <fa-icon [icon]="faPlay" /> Play all Episodes
    </button>
</div>

<div class="section">
    <h2 class="title2">{{ podcast().episodes!.length }} Episodes</h2>

    <div class="gap-4 grid grid-cols-1 sm:grid-cols-[repeat(auto-fill,minmax(350px,1fr))]">
        @for (episode of podcast().episodes; track $index) {
        <a [routerLink]="['/podcasts', podcast().id, 'episodes', episode.id]" [title]="episode.name"
            class="flex items-center gap-2 sm:gap-4">
            <div class="size-12 bg-center bg-no-repeat aspect-square bg-cover bg-accent rounded-xl sm:size-24"
                [style.background-image]="'url(' + (episode.coverImageUrl) + ')'">
            </div>
            <div class="overflow-hidden">
                <p class="text-base font-medium leading-normal line-clamp-2">{{episode.name}}</p>
                <p class="text-accent text-sm truncate max-sm:hidden">
                    @for(creator of episode.voicers; track $index) {
                    {{ creator.nickname }}@if (!$last) {, }
                    }
                </p>
                <p class="text-accent text-sm truncate">
                    Episode {{episode.number}}
                </p>
            </div>
        </a>
        }
    </div>
</div>
}
}