@if (playerVisible()){
<div class="flex flex-col items-center bg-accent p-4 max-h-[80vh] sm:px-8"
  [class]="queueOpen() ? 'gap-4 border-t-2 border-primary' : ''">

  <button i18n-title class="icon-button" title="Close queue" [class]="!queueOpen() ? '!hidden' : ''"
    (click)="queueOpen.set(false)">
    <fa-icon [icon]="faClose" />
  </button>

  <ul role="list" class="flex flex-col flex-grow w-full overflow-auto -mx-4" [class]="!queueOpen() ? '!hidden' : ''">
    @for (track of audioPlayerService.queue(); track $index) {
    <li class="flex items-center px-4 py-2 gap-2 hover:bg-opacity"
      [class.bg-opacity]="audioPlayerService.currentTrack()!.id == track.id"
      [class.text-error]="audioPlayerService.currentTrack()!.id == track.id && audioPlayerService.isError()">
      <button class="text-left flex flex-grow items-center gap-2 cursor-pointer overflow-hidden"
        (click)="audioPlayerService.playId(track.id!)">
        <img class="flex items-center justify-center size-12 aspect-square object-cover bg-accent-light rounded-xl"
          loading="lazy" decoding="async" [secureSrc]="track.coverImageSrc" [secureOffline]="true"
          [alt]="track.title" />
        <div class="flex flex-col flex-grow overflow-hidden">
          <span class="truncate">{{ track.title }} @if(track.subtitle) { - {{ track.subtitle }} }</span>
          <span class="text-accent truncate">{{ track.artists?.join(", ") }}</span>
        </div>
      </button>

      <div class="flex gap-2">
        <button i18n-title type="button" class="icon-button" [routerLink]="track.referenceLink"
          title="Go to the reference page">
          <fa-icon [icon]="faShare" />
        </button>
        <button i18n-title type="button" class="icon-button" title="Remove from queue"
          (click)="audioPlayerService.removeFromQueue(track.id!)">
          <fa-icon [icon]="faTrash" />
        </button>
      </div>
    </li>
    }
  </ul>

  <div class="slider-container" [class]="!queueOpen() ? 'absolute top-0 left-0 -mt-1' : 'relative my-2'">
    <div class="buffer-bar-container">
      @for (segment of bufferedSegments(); track $index) {
      <div class="buffer-bar" [style.left.%]="segment.left" [style.width.%]="segment.width"></div>
      }
    </div>
    <input type="range" class="slider-input" [class.thump-hidden]="!queueOpen()" [min]="0"
      [max]="formatIntValue(displayDuration())" [value]="formatIntValue(displayTime())" [style.--value]="
        formatIntValue(displayTime()) /
        formatIntValue(displayDuration())
      " (mousedown)="onSeekingStart()" (touchstart)="onSeekingStart()" (mouseup)="onSeekingEnd()"
      (touchend)="onSeekingEnd()" (input)="onSeeking($event.target.valueAsNumber)" />
  </div>

  <span class="flex justify-center items-center text-sm text-accent" [class]="!queueOpen() ? '!hidden' : ''">
    {{ formatTime(displayTime()) }} /
    {{ formatTime(displayDuration()) }}
  </span>

  <div class="flex justify-between items-center w-full gap-2">
    <button class="text-left flex flex-col flex-grow min-w-[100px] cursor-pointer"
      [class]="queueOpen() ? '!hidden' : ''" [class.text-error]="audioPlayerService.isError()"
      (click)="queueOpen.set(true)">
      <div class="flex items-center gap-2">
        <img class="flex items-center justify-center size-12 aspect-square object-cover bg-accent-light rounded-xl"
          loading="lazy" decoding="async" [secureSrc]="audioPlayerService.currentTrack()?.coverImageSrc"
          [secureOffline]="true" [alt]="audioPlayerService.currentTrack()?.title" />
        <div class="flex flex-col truncate">
          <span class="truncate">{{ audioPlayerService.currentTrack()?.title }}
            @if(audioPlayerService.currentTrack()?.subtitle) { - {{ audioPlayerService.currentTrack()?.subtitle }}
            }</span>
          <span class="text-accent truncate">{{
            audioPlayerService.currentTrack()?.artists?.join(", ")
            }}</span>
        </div>
      </div>
    </button>

    <!-- needs to make prev / play / pause buttons centered -->
    <span class="size-10" [class]="!queueOpen() ? '!hidden' : ''"></span>

    <div class="flex justify-center gap-2" [class.text-error]="audioPlayerService.isError()">
      <button i18n-title type="button" class="icon-button" title="Back" (click)="audioPlayerService.previous()">
        @if (audioPlayerService.currentIndex()! === 0){ <fa-icon [icon]="faBackwardStep" />}
        @else if (audioPlayerService.currentIndex()! > 0){ <fa-icon [icon]="faBackward" />}
      </button>
      <button i18n-title type="button" class="icon-button" title="Play / Pause"
        [disabled]="audioPlayerService.isLoading()" (click)="audioPlayerService.togglePlay()">
        @if(audioPlayerService.isLoading()) {<fa-icon [icon]="faCircleNotch" animation="spin" />} @else if
        (audioPlayerService.isPlaying()) {<fa-icon [icon]="faPause" />} @else {<fa-icon [icon]="faPlay" />}
      </button>
      @if (audioPlayerService.nextTrack() != null || audioPlayerService.currentTime() < audioPlayerService.duration() -
        5) { <button i18n-title type="button" class="icon-button" title="Forward"
        [disabled]="audioPlayerService.nextTrack() == null" (click)="audioPlayerService.next()">
        <fa-icon [icon]="faForward" />
        </button>
        } @else {
        <button i18n-title type="button" class="icon-button" title="Restart queue"
          (click)="audioPlayerService.restartQueue()">
          <fa-icon [icon]="faRotateLeft" />
        </button>
        }
    </div>

    <button i18n-title type="button" class="icon-button" title="Clear queue" [class]="!queueOpen() ? '!hidden' : ''"
      (click)="audioPlayerService.clearQueue()">
      <fa-icon [icon]="faTrash" />
    </button>
  </div>
</div>
}