input[type='range'] {
   --value: 0; // percentage
   --track-color: var(--color-accent-light);
   --fill-color: var(--color-primary);

   width: 100%;
   height: 4px;
   border-radius: 0;

   -webkit-appearance: none;
   appearance: none;
   background: linear-gradient(var(--fill-color), var(--fill-color)) no-repeat,
      linear-gradient(var(--track-color), var(--track-color)) no-repeat;
   background-size: calc(var(--value) * 100%) 100%, 100% 100%;
   background-repeat: no-repeat;

   // WebKit
   &::-webkit-slider-runnable-track {
      background: transparent;
   }

   &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 14px;
      width: 14px;
      border-radius: 50%;
   }

   &.thump-hidden::-webkit-slider-thumb {
      background-color: transparent;
   }

   &:focus::-webkit-slider-thumb,
   &:not(.thump-hidden)::-webkit-slider-thumb {
      background-color: var(--color-primary);
   }


   // Firefox
   &::-moz-range-progress {
      background: transparent;
   }

   &::-moz-range-track {
      background: transparent;
   }

   &::-moz-range-thumb {
      border: none;
      height: 14px;
      width: 14px;
      border-radius: 50%;
   }

   &.thump-hidden::-moz-range-thumb {
      background-color: transparent;
   }

   &:focus::-moz-range-thumb,
   &:not(.thump-hidden)::-moz-range-thumb {
      background-color: var(--color-primary);
   }
}