.slider-container {
   --value: 0; // percentage
   --track-color: var(--color-accent-light);
   --fill-color: var(--color-primary);
   --buffer-color: var(--color-opacity);

   display: flex;
   width: 100%;
   height: 4px;
   background: var(--track-color);

   .buffer-bar-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      display: flex;
      align-items: center;

      .buffer-bar {
         position: absolute;
         height: 100%;
         background-color: var(--buffer-color);
      }
   }

   .slider-input {
      width: 100%;
      height: 100%;
      border-radius: 0;

      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;
      background: linear-gradient(var(--fill-color), var(--fill-color)) no-repeat,
         linear-gradient(transparent, transparent) no-repeat;
      background-size: calc(var(--value) * 100%) 100%, 100% 100%;
      background-repeat: no-repeat;
      z-index: 1;

      // WebKit
      &::-webkit-slider-runnable-track {
         background: transparent;
         box-shadow: none;
      }

      &::-webkit-slider-thumb {
         -webkit-appearance: none;
         appearance: none;
         height: 14px;
         width: 14px;
         border-radius: 50%;
         box-shadow: none;
      }

      &.thump-hidden::-webkit-slider-thumb {
         background-color: transparent;
      }

      &:focus::-webkit-slider-thumb,
      &:not(.thump-hidden)::-webkit-slider-thumb {
         background-color: var(--color-primary);
      }


      // Firefox
      &::-moz-range-progress {
         background: transparent;
         box-shadow: none;
      }

      &::-moz-range-track {
         background: transparent;
         box-shadow: none;
      }

      &::-moz-range-thumb {
         border: none;
         height: 14px;
         width: 14px;
         border-radius: 50%;
         box-shadow: none;
      }

      &.thump-hidden::-moz-range-thumb {
         background-color: transparent;
      }

      &:focus::-moz-range-thumb,
      &:not(.thump-hidden)::-moz-range-thumb {
         background-color: var(--color-primary);
      }
   }
}


.player-enter-animation {
   animation: player-enter-animation 300ms;
}

@keyframes player-enter-animation {
   from {
      opacity: 0;
      padding-bottom: 0;
   }

   to {
      opacity: 1;
   }
}

.player-leave-animation {
   animation: player-leave-animation 300ms;
}

@keyframes player-leave-animation {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
   }
}


.player-expand {
   transition-property: gap, border-top, padding;
   transition-duration: 300ms;
}

.player-expand-enter {
   border-top: 2px solid var(--color-primary);
}

.player-expand-leave {
   border-top: none;
   gap: 0;
}


.queue-expand {
   transition-property: opacity, max-height, gap;
   transition-duration: 300ms;
}

.queue-expand-enter {
   opacity: 1;
   max-height: 500px;
}

.queue-expand-leave {
   opacity: 0;
   max-height: 0;
   gap: 0;
}

.slider-expand {
   transition-property: height;
   transition-duration: 300ms;
}

.slider-expand-enter {
   height: 20px;
}

.slider-expand-leave {
   height: 0;
}


.track-list-item {
   transition-property: background-color, color;
   transition-duration: 100ms;
}

.track-list-item:hover {
   background-color: var(--color-opacity);
}

.track-list-item-button {
   transition: transform 100ms;
   transform: translateY(0px);
}

.track-list-item-button:active {
   transform: translateY(2px);
}