<div class="flex flex-col min-h-full w-full">
    <h1 class="title">Audio Books</h1>

    @if (audioBooksLoading()) {
    <p class="section text-accent">Loading...</p>
    }

    @else if (audioBooksError()) {
    <p class="section text-accent">Failed to load Audio Books. Please try reloading or navigating to <a class="link"
            [title]="'My Library'" [routerLink]="['/my-library']">My Library</a></p>
    }

    @else if(audioBookPagedResult()?.items == null || audioBookPagedResult()?.items?.length == 0) {
    <p class="section text-accent">There are no Audio Books here. Please try reloading or navigating to <a class="link"
            [title]="'My Library'" [routerLink]="['/my-library']">My Library</a></p>
    }

    @else {
    <div class="section flex-grow">
        <div class="grid gap-4 grid-cols-[repeat(auto-fill,minmax(150px,1fr))]">
            @for (audioBook of audioBookPagedResult()?.items; track $index) {
            <a [routerLink]="['/audio-books', audioBook.id]" [title]="audioBook.name"
                class="flex flex-1 flex-col gap-2">
                <div class="bg-cover bg-center bg-no-repeat bg-accent aspect-[3/4] rounded-xl"
                    [style.background-image]="'url(' + (audioBook.coverImageUrl) + ')'">
                </div>
                <div>
                    <p class="text-base font-medium leading-normal line-clamp-2">{{audioBook.name}}</p>
                    <p class="text-accent text-sm truncate">
                        @for(creator of audioBook.readers; track $index) {
                        {{ creator.nickname }}@if (!$last) {, }
                        }
                    </p>
                </div>
            </a>
            }
        </div>
    </div>
    }

    @if (audioBookPagedResult() && audioBookPagedResult()!.totalCount > audioBookPagedResult()!.pagedQuery.pageSize) {
    <app-pagination class="section" [pageNumber]="audioBookPagedQuery().pageNumber" [pageSize]="audioBookPagedQuery().pageSize"
        [totalCount]="audioBookPagedResult()?.totalCount || 0" (pageChange)="setPage($event)">
    </app-pagination>
    }

</div>