<h1 class="title">My Library</h1>

<div class="section">
    <h2 class="title">Audio Books</h2>

    @if (myLibraryAudioBooks() == null || myLibraryAudioBooks().length == 0) {
    <p class="section text-accent">There are no Audio Books here</p>
    }
    @else {
    <div class="section grid gap-4 grid-cols-[repeat(auto-fill,minmax(150px,1fr))]">
        @for (audioBook of myLibraryAudioBooks(); track $index) {
        <div class="flex flex-1 flex-col gap-2">
            <a [routerLink]="['/audio-books', audioBook.id]" [title]="audioBook.name">
                <div class="bg-cover bg-center bg-no-repeat bg-accent aspect-[3/4] rounded-xl"
                    [style.background-image]="'url(' + (audioBook.coverImageUrl) + ')'">
                </div>
            </a>
            <div class="flex items-center justify-between gap-2 sm:gap-4">
                <div class="overflow-hidden">
                    <p class="text-base font-medium leading-normal line-clamp-2">{{audioBook.name}}</p>
                    <p class="text-accent text-sm truncate">
                        @for(creator of audioBook.readers; track $index) {
                        {{ creator.nickname }}@if (!$last) {, }
                        }
                    </p>
                </div>
                <div>
                    <button type="button" class="icon-button"
                        [title]="audioBook.isCurrentTrackPlaying ? 'Pause' : 'Play'"
                        (click)="audioBookTogglePlay(audioBook)">
                        @if(audioBook.isCurrentTrackPlaying) {<fa-icon [icon]="faPause" />}
                        @else {<fa-icon [icon]="faPlay" />}
                    </button>
                </div>
            </div>
        </div>
        }
    </div>
    }
</div>
<div class="section">
    <h2 class="title">Podcasts</h2>

    @if (myLibraryAudioBooks() == null || myLibraryAudioBooks().length == 0) {
    <p class="section text-accent">There are no Podcasts here</p>
    }
    @else {
    @for (podcast of myLibraryPodcasts(); track $index) {
    <div class="section">
        <a [routerLink]="['/podcasts', podcast.id]" [title]="podcast.name">
            <div class="w-full bg-center bg-no-repeat bg-cover bg-parallax bg-accent flex flex-col justify-center overflow-hidden rounded-xl min-h-[150px] sm:min-h-[250px]"
                [style.background-image]="'url(' + (podcast.coverImageUrl) + ')'">
            </div>
        </a>

        <h3 class="title2">{{podcast.name}}</h3>
        <p class="subtitle text-accent">
            @for(creator of podcast.voicers; track $index) {
            <a>{{ creator.nickname }}</a>@if (!$last) {, }
            }
        </p>
        <p class="section text-accent">
            {{podcast.episodes?.length ?? 0}} Episodes
        </p>

        <div class="grid gap-4 grid-cols-1 sm:grid-cols-[repeat(auto-fill,minmax(350px,1fr))]">
            @for (episode of podcast.episodes; track $index) {
            <div class="flex items-center gap-2 sm:gap-4">
                <a class="flex flex-grow items-center gap-2 overflow-hidden sm:gap-4"
                    [routerLink]="['/podcasts', podcast.id, 'episodes', episode.id]" [title]="episode.name">
                    <div class="size-12 bg-center bg-no-repeat aspect-square bg-cover bg-accent rounded-xl sm:size-24"
                        [style.background-image]="'url(' + (episode.coverImageUrl) + ')'">
                    </div>
                    <div class="overflow-hidden">
                        <p class="text-base font-medium leading-normal line-clamp-2">{{episode.name}}</p>
                        <p class="text-accent text-sm truncate max-sm:hidden">
                            @for(creator of episode.voicers; track $index) {
                            {{ creator.nickname }}@if (!$last) {, }
                            }
                        </p>
                        <p class="text-accent text-sm truncate">
                            Episode {{episode.number}}
                        </p>
                    </div>
                </a>
                <div class="flex gap-2">
                    <button type="button" class="icon-button" [title]="episode.isCurrentTrackPlaying ? 'Pause' : 'Play'"
                        (click)="podcastEpisodeTogglePlay(podcast, episode)">
                        @if(episode.isCurrentTrackPlaying) {<fa-icon [icon]="faPause" />}
                        @else {<fa-icon [icon]="faPlay" />}
                    </button>
                </div>
            </div>
            }
        </div>
    </div>
    }
    }
</div>