<h1 class="title">Podcasts</h1>

@if (podcastsLoading()) {
<p class="section">Loading...</p>
}

@else if (podcastsError()) {
<p class="section text-accent">Failed to load Podcasts. Please try reloading the page or navigating to My Library.</p>
<p class="section flex gap-2">
    <a href="javascript:window.location.href=window.location.href" class="button button-accent" [title]="'Reload'">Reload</a>
    <a class="button button-accent" [title]="'My Library'" [routerLink]="['/my-library']">My Library</a>
</p>
}

@else if(podcastPagedResult()?.items == null || podcastPagedResult()?.items?.length == 0) {
<p class="section text-accent">There is no Podcasts here. Please try reloading the page or navigating to My Library.</p>
<p class="section flex gap-2">
    <a href="javascript:window.location.href=window.location.href" class="button button-accent" [title]="'Reload'">Reload</a>
    <a class="button button-accent" [title]="'My Library'" [routerLink]="['/my-library']">My Library</a>
</p>
}

@else {
<div class="section">
    <div class="grid gap-4 grid-cols-[repeat(auto-fill,minmax(250px,1fr))]">
        @for (podcast of podcastPagedResult()?.items; track $index) {
        <a [routerLink]="['/podcasts', podcast.id]" [title]="podcast.name" class="flex flex-1 flex-col gap-2">
            <div class="bg-cover bg-center bg-no-repeat bg-accent aspect-[3/2] rounded-xl"
                [style.background-image]="'url(' + (podcast.coverImageUrl) + ')'">
            </div>
            <div>
                <p class="text-base font-medium leading-normal truncate">{{podcast.name}}</p>
                <p class="text-accent text-sm truncate">
                    @for(creator of podcast.voicers; track $index) {
                    {{ creator.nickname }} @if (!$last) {, }
                    }
                </p>
            </div>
        </a>
        }
    </div>
</div>
}