@if (myLibraryLoading()) {
<p i18n class="section text-accent">Loading...</p>
} @else if (myLibraryError()) {
<p i18n class="section text-error">Failed to load My Library.</p>
} @else {

<div class="section">
  <h2 i18n class="title">Audio Books</h2>

  @if (myLibraryAudioBooks() == null || myLibraryAudioBooks()!.length == 0) {
  <p i18n class="section text-accent">There are no Audio Books here</p>
  } @else {
  <div class="section grid gap-4 grid-cols-[repeat(auto-fill,minmax(150px,1fr))]">
    @for (audioBook of myLibraryAudioBooks(); track audioBook.id) {
    <app-audio-book-item [audioBook]="audioBook"></app-audio-book-item>
    }
  </div>
  }
</div>

<div class="section">
  <h2 i18n class="title">eBooks</h2>

  @if (myLibraryEBooks() == null || myLibraryEBooks()!.length == 0) {
  <p i18n class="section text-accent">There are no eBooks here</p>
  } @else {
  <div class="section grid gap-4 grid-cols-[repeat(auto-fill,minmax(150px,1fr))]">
    @for (eBook of myLibraryEBooks(); track eBook.id) {
    <app-e-book-item [eBook]="eBook"></app-e-book-item>
    }
  </div>
  }
</div>

<div class="section">
  <h2 i18n class="title">Podcasts</h2>

  @if (myLibraryPodcasts() == null || myLibraryPodcasts()!.length == 0) {
  <p i18n class="section text-accent">There are no Podcasts here</p>
  } @else {
  <div class="flex flex-col gap-8">
    @for (podcast of myLibraryPodcasts(); track podcast.id) {
    <app-podcast-details-item [podcast]="podcast"></app-podcast-details-item>
    }
  </div>
  }
</div>
}