@if (myLibraryLoading()) {
<p i18n class="section text-accent">Loading...</p>
} @else if (myLibraryError()) {
<p i18n class="section text-error">Failed to load My Library.</p>
} @else {

<div class="section">
  <h2 i18n class="title">Books</h2>

  @if (myLibraryBooks() == null || myLibraryBooks()!.length == 0) {
  <p i18n class="section text-accent">There are no Books here</p>
  } @else {
  <div class="section grid gap-4 grid-cols-[repeat(auto-fill,minmax(150px,1fr))]">
    @for (book of myLibraryBooks(); track book.id) {
    <app-book-item [book]="book"></app-book-item>
    }
  </div>
  }
</div>

<div class="section">
  <h2 i18n class="title">Podcasts</h2>

  @if (myLibraryPodcasts() == null || myLibraryPodcasts()!.length == 0) {
  <p i18n class="section text-accent">There are no Podcasts here</p>
  } @else {
  <div class="flex flex-col gap-8">
    @for (podcast of myLibraryPodcasts(); track podcast.id) {
    <app-podcast-details-item [podcast]="podcast"></app-podcast-details-item>
    }
  </div>
  }
</div>
}