<h1 class="title">Edit - Only for pros</h1>

<h2 class="title">Audio Books</h2>

<div class="section overflow-auto">
    <table class="table w-full break-normal">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>cover image</th>
                <th>cover image preview</th>
                <th>description</th>
                <th>audio</th>
                <th>readers</th>
            </tr>
        </thead>
        <tbody>
            @for (audioBook of audioBookPagedResult()?.items; track $index) {
            <tr>
                <td>{{audioBook.id}}</td>
                <td><span class="line-clamp-2">{{audioBook.name}}</span></td>
                <td>{{!!audioBook.coverImageUrl}}</td>
                <td>{{!!audioBook.coverImagePreviewUrl}}</td>
                <td><span class="line-clamp-2">{{audioBook.description}}</span></td>
                <td>{{!!audioBook.audioUrl}}</td>
                <td>{{audioBook.readers?.length}}</td>

                <td>
                    <a class="icon-button" title="Update Audio Book"
                        [routerLink]="['/edit', 'audio-books', audioBook.id]"><fa-icon [icon]="faPen" /></a>
                </td>
                <td>
                    <button type="button" class="icon-button" title="Delete Audio Book"
                        (click)="deleteAudioBook(audioBook.id!)"><fa-icon [icon]="faTrash" /></button>
                </td>
            </tr>
            }
            <tr>
                <td colspan="100%">
                    <a title="Create Audio Book" class="button button-accent"
                        [routerLink]="['/edit', 'audio-books', 'create']">Create Audio Book</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="title">Podcasts</h2>

<div class="section overflow-auto">
    <table class="table w-full break-normal">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>cover image</th>
                <th>cover image preview</th>
                <th>description</th>
                <th>episodes</th>
                <th>voicers</th>
            </tr>
        </thead>
        <tbody>
            @for (podcast of podcastPagedResult()?.items; track $index) {
            <tr>
                <td>{{podcast.id}}</td>
                <td><span class="line-clamp-2">{{podcast.name}}</span></td>
                <td>{{!!podcast.coverImageUrl}}</td>
                <td>{{!!podcast.coverImagePreviewUrl}}</td>
                <td><span class="line-clamp-2">{{podcast.description}}</span></td>
                <td>{{podcast.episodes?.length}}</td>
                <td>{{podcast.voicers?.length}}</td>

                <td>
                    <a class="icon-button" title="Update Podcast"
                        [routerLink]="['/edit', 'podcasts', podcast.id]"><fa-icon [icon]="faPen" /></a>
                </td>
                <td>
                    <button type="button" class="icon-button" title="Delete Podcast"
                        (click)="deletePodcast(podcast.id!)"><fa-icon [icon]="faTrash" /></button>
                </td>
            </tr>
            }
            <tr>
                <td colspan="100%">
                    <a title="Create Podcast" class="button button-accent"
                        [routerLink]="['/edit', 'podcasts', 'create']">Create Podcast</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="title">Creators</h2>

<div class="section overflow-auto">
    <table class="table w-full break-normal">
        <thead>
            <tr>
                <th>id</th>
                <th>nickname</th>
                <th>name</th>
                <th>surname</th>
                <!--<th>cover image</th>-->
            </tr>
        </thead>
        <tbody>
            @for (creator of creatorPagedResult()?.items; track $index) {
            <tr>
                <td>{{creator.id}}</td>
                <td><span>{{creator.nickname}}</span></td>
                <td><span>{{creator.name}}</span></td>
                <td><span>{{creator.surname}}</span></td>
                <!--<td><img class="h-12 min-w-32 object-contain" [src]="creator.coverImagePreviewUrl"></td>-->

                <td>
                    <a class="icon-button" title="Update Creator"
                        [routerLink]="['/edit', 'creators', creator.id]"><fa-icon [icon]="faPen" /></a>
                </td>
                <td>
                    <button type="button" class="icon-button" title="Delete Creator"
                        (click)="deleteCreator(creator.id!)"><fa-icon [icon]="faTrash" /></button>
                </td>
            </tr>
            }
            <tr>
                <td colspan="100%">
                    <a title="Create Creator" class="button button-accent"
                        [routerLink]="['/edit', 'creators', 'create']">Create Creator</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-users-table-paged *appAuth="'Admin'"></app-users-table-paged>

<app-roles-table-paged *appAuth="'Admin'"></app-roles-table-paged>