.menu-link {
    transition-property: transform, color;
    transition-duration: 100ms;
    transform: translateY(0px);
}

.menu-link:hover {
    color: var(--text-color-link);
}

.menu-link:active {
    transform: translateY(2px);
}

.menu-link.active {
    color: var(--color-primary);
}

.menu-link.active:hover {
    color: var(--color-primary-light);
}

.logo-link:hover {
    filter: brightness(0) invert(0.5);
}