.menu-link:hover {
    color: var(--text-color-link);
}

.menu-link.active {
    color: var(--color-primary);
}

.menu-link.active:hover {
    color: var(--color-primary-light);
}

.logo-link:hover {
    filter: brightness(0) invert(0.5);
}