<!-- Content when expanded -->
<div class="reader-body" [ngStyle]="themeStyles()">
    <!-- Content wrapper -->
    <div #readerContentWrapper class="reader-content-wrapper">
        <app-epub-reader-content [currentChapterContent]="currentChapterContent()">
        </app-epub-reader-content>
    </div>

    <!-- Navigation bar -->
    <div class="reader-nav">
        <div>
            <button type="button" i18n-title class="button reader-button gap-2 whitespace-nowrap"
                title="Go to previous chapter" [class.!hidden]="currentChapterIndex() === 0" (click)="onPrevChapter()">
                <fa-icon [icon]="faChevronLeft" />
                <span i18n class="hidden lg:inline">Previous Chapter</span>
            </button>
        </div>
        <div class="flex items-center gap-1 whitespace-nowrap">
            <input i18n-title type="number" title="Current chapter" name="current-chapter"
                class="input reader-input w-full !max-w-[100px] !min-w-[80px]" [value]="currentChapterIndex() + 1"
                (change)="onChapterInput($event)" (keydown.enter)="$event.preventDefault(); onChapterInput($event)"
                min="1" [max]="chapters().length">
            <span>/ {{ chapters().length }}</span>
        </div>
        <div>
            <button type="button" i18n-title class="button reader-button gap-2 whitespace-nowrap"
                title="Go to next chapter"
                [class.!hidden]="chapters().length === 0 || currentChapterIndex() === chapters().length - 1"
                (click)="onNextChapter()">
                <span i18n class="hidden lg:inline">Next Chapter</span>
                <fa-icon [icon]="faChevronRight" />
            </button>
        </div>
    </div>

    <!-- Loading overlay -->
    <div class="reader-overlay" [class.!hidden]="!isLoading()">
        <fa-icon [icon]="faCircleNotch" class="animate-spin" />
        <span i18n>Loading...</span>
    </div>

    <!-- Error overlay -->
    <div class="reader-overlay" [class.!hidden]="!isError()">
        <fa-icon [icon]="faExclamationTriangle" />
        <span i18n>Error loading file</span>
    </div>
</div>