<!-- Content when expanded -->
<div class="reader-body" [ngStyle]="styles()">

    <!-- Content wrapper -->
    <div #readerContentWrapper class="reader-content-wrapper">
        <div #readerContent class="max-w-full max-h-full overflow-hidden overscroll-none">
        </div>
    </div>

    <!-- Navigation bar -->
    <div class="reader-nav">
        <div class="flex items-center gap-1 whitespace-nowrap">
            <input i18n-title type="number" title="Current chapter" name="current-chapter"
                class="input reader-input w-full !max-w-[100px] !min-w-[80px]"
                [value]="currentChapterIndex() ? (currentChapterIndex()! + 1) : 1" (change)="onChapterInput($event)"
                (keydown.enter)="$event.preventDefault(); onChapterInput($event)" min="1" [max]="chapters().length">
            <span>/ {{ chapters().length }}</span>
        </div>
        <div class="flex items-center gap-2 shrink-0">
            <div>
                <button type="button" i18n-title class="button reader-button gap-2 whitespace-nowrap"
                    title="Go to previous page" (click)="onPrevPage()">
                    <fa-icon [icon]="faChevronLeft" />
                    <span i18n class="hidden lg:inline">Previous page</span>
                </button>
            </div>
            <div>
                <button type="button" i18n-title class="button reader-button gap-2 whitespace-nowrap"
                    title="Go to next page" (click)="onNextPage()">
                    <span i18n class="hidden lg:inline">Next page</span>
                    <fa-icon [icon]="faChevronRight" />
                </button>
            </div>
        </div>
    </div>

    <!-- Loading overlay -->
    <div class="reader-overlay" [class.!hidden]="!isLoading()">
        <fa-icon [icon]="faCircleNotch" class="animate-spin" />
        <span i18n>Loading...</span>
    </div>

    <!-- Error overlay -->
    <div class="reader-overlay" [class.!hidden]="!isError()">
        <fa-icon [icon]="faExclamationTriangle" />
        <span i18n>Error loading file</span>
    </div>
</div>