<div class="flex flex-col min-h-full w-full">
    <h1 i18n class="title">Podcasts</h1>

    @if (podcastsLoading()) {
    <p i18n class="section text-accent">Loading...</p>
    }

    @else if (podcastsError()) {
    <p i18n class="section text-accent">Failed to load Podcasts. Please try reloading or navigating to <a i18n-title
            class="link" title="My Library" [routerLink]="['/my-library']">My Library</a></p>
    }

    @else if(podcastPagedResult()?.items == null || podcastPagedResult()?.items?.length == 0) {
    <p i18n class="section text-accent">There are no Podcasts here. Please try reloading or navigating to <a i18n-title
            class="link" title="My Library" [routerLink]="['/my-library']">My Library</a></p>
    }

    @else {
    <div class="section flex-grow">
        <div class="grid gap-4 grid-cols-[repeat(auto-fill,minmax(250px,1fr))]">
            @for (podcast of podcastPagedResult()?.items; track $index) {
            <app-podcast-item [podcast]="podcast"></app-podcast-item>
            }
        </div>
    </div>
    }

    @if (podcastPagedResult() && podcastPagedResult()!.totalCount > podcastPagedResult()!.pagedQuery.pageSize) {
    <app-pagination class="section" [pageNumber]="podcastPagedQuery().pageNumber"
        [pageSize]="podcastPagedQuery().pageSize" [totalCount]="podcastPagedResult()?.totalCount || 0"
        (pageChange)="setPage($event)">
    </app-pagination>
    }

</div>