<h2 i18n class="title2 !pt-0">Select Role</h2>

<div class="section flex">
    <ul role="list" class="flex flex-col flex-grow w-full overflow-auto -mx-4 sm:mx-0">
        @for (role of rolePagedResult()?.items; track $index) {
        <li class="flex items-center px-4 py-2 gap-2 hover:bg-opacity cursor-pointer" (click)="selectRole(role)">
            <div class="flex flex-col flex-grow overflow-hidden">
                <span class="truncate">{{ role.name }}</span>
            </div>
        </li>
        }
    </ul>
</div>

@if (rolePagedResult() && rolePagedResult()!.totalCount > rolePagedResult()!.pagedQuery.pageSize) {
<app-pagination class="section" [pageNumber]="rolePagedQuery().pageNumber" [pageSize]="rolePagedQuery().pageSize"
    [totalCount]="rolePagedResult()?.totalCount || 0" (pageChange)="setPage($event)">
</app-pagination>
}