<div class="flex flex-col min-h-full w-full">
    <h1 class="title">{{ title() }}</h1>

    <div class="section flex-grow">
        @if (bookPagedResult()?.items && bookPagedResult()!.items!.length > 0) {
        <div class="grid gap-4 grid-cols-[repeat(auto-fill,minmax(150px,1fr))] transition-opacity duration-300"
            [class.opacity-50]="booksLoading()">
            @for (book of bookPagedResult()?.items; track $index) {
            <app-book-item [book]="book"></app-book-item>
            }
        </div>
        }

        @else if (booksLoading()) {
        <p i18n class="text-accent">Loading...</p>
        }

        @else if (booksError()) {
        <p i18n class="text-error">Failed to load Books.</p>
        }

        @else if(bookPagedResult()?.items == null || bookPagedResult()?.items?.length == 0) {
        <p i18n class="text-accent">There are no Books here.</p>
        }

    </div>

    @if (!hidePagination() && bookPagedResult() && bookPagedResult()!.totalCount >
    bookPagedResult()!.pagedQuery.pageSize) {
    <app-pagination class="section" [pageNumber]="bookPagedQuery().pageNumber" [pageSize]="bookPagedQuery().pageSize"
        [totalCount]="bookPagedResult()?.totalCount || 0" (pageChange)="setPage($event)">
    </app-pagination>
    }

</div>