<div class="flex flex-col min-h-full w-full">
    <h1 i18n class="title">Books</h1>

    @if (booksLoading()) {
    <p i18n class="section text-accent">Loading...</p>
    }

    @else if (booksError()) {
    <p i18n class="section text-error">Failed to load Books.</p>
    }

    @else if(bookPagedResult()?.items == null || bookPagedResult()?.items?.length == 0) {
    <p i18n class="section text-accent">There are no Books here.</p>
    }

    @else {
    <div class="section flex-grow">
        <div class="grid gap-4 grid-cols-[repeat(auto-fill,minmax(150px,1fr))]">
            @for (book of bookPagedResult()?.items; track $index) {
            <app-book-item [book]="book"></app-book-item>
            }
        </div>
    </div>
    }

    @if (bookPagedResult() && bookPagedResult()!.totalCount > bookPagedResult()!.pagedQuery.pageSize) {
    <app-pagination class="section" [pageNumber]="bookPagedQuery().pageNumber"
        [pageSize]="bookPagedQuery().pageSize" [totalCount]="bookPagedResult()?.totalCount || 0"
        (pageChange)="setPage($event)">
    </app-pagination>
    }

</div>
