<div class="section flex flex-wrap gap-2">
    <a class="link font-medium leading-normal" title="Edit" [routerLink]="['/edit']">Edit</a>
    <span class="text-accent font-medium leading-normal">/</span>
    <span>{{podcast() ? podcast()!.name : 'New Podcast'}}</span>
</div>

<h2 class="title flex justify-between items-start gap-2">
    Edit Podcast

    <div class="flex gap-2">
        @if(podcast() != null) {
        <button type="button" class="button button-accent shrink-0 flex gap-2" title="Delete" (click)="delete()">
            <fa-icon [icon]="faTrash" />
            <span class="hidden lg:inline">Delete</span>
        </button>
        }
    </div>
</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="section flex flex-col gap-4">

    <div>
        <label class="label" for="id">Id</label>
        <input type="text" formControlName="id" id="id" class="input w-full" />
    </div>

    <div>
        <label class="label" for="name">Name</label>
        <input type="text" formControlName="name" id="name" class="input w-full" placeholder="Havuhattu" />
    </div>

    <div>
        <label class="label" for="cover-image">Cover image</label>
        <input type="file" accept="image/*" id="cover-image" class="input w-full" placeholder="cover-image.png"
            formControlName="coverImageValue" (change)="onCoverImageSelected($event)" />
        @if(coverPreview()) {
        <img [src]="coverPreview()!" class="h-32 mt-2 object-contain" />
        }
    </div>

    <div>
        <label class="label" for="cover-image-preview">Cover image preview</label>
        <input type="file" accept="image/*" id="cover-image-preview" class="input w-full"
            placeholder="cover-image-preview.png" formControlName="coverImagePreviewValue"
            (change)="onCoverImagePreviewSelected($event)" />
        @if(coverPreviewPreview()) {
        <img [src]="coverPreviewPreview()!" class="h-32 mt-2 object-contain" />
        }
    </div>

    <div>
        <label class="label" for="description">Description</label>
        <textarea formControlName="description" id="description" class="input w-full" rows="8"
            placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></textarea>
    </div>

    <div>
        <button type="submit" class="button button-primary" title="Save"
            [disabled]="!form.valid || isLoading()">Save</button>
    </div>
</form>

@if (podcast()?.id) {
<div class="section">
    <h3 class="title2">Voicers</h3>

    <div class="section overflow-auto">
        <table class="table w-full overflow-auto break-normal">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nickname</th>
                    <th>name</th>
                    <th>surname</th>
                </tr>
            </thead>
            <tbody>
                @for (voicer of podcast()!.voicers; track $index) {
                <tr>
                    <td>{{voicer.id}}</td>
                    <td>{{voicer.nickname}}</td>
                    <td>{{voicer.name}}</td>
                    <td>{{voicer.surname}}</td>

                    <td>
                        <button type="button" class="icon-button" title="Remove Voicer"
                            (click)="removeVoicer(voicer.id)"><fa-icon [icon]="faTrash" /></button>
                    </td>
                </tr>
                }
                <tr>
                    <td colspan="100%">
                        <button type="button" class="button button-accent" title="Add Voicer" (click)="addVoicer()">Add
                            Voicer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="section">
    <h3 class="title2">Episodes</h3>

    <div class="section overflow-auto">
        <table class="table w-full overflow-auto break-normal">
            <thead>
                <tr>
                    <th>id</th>
                    <th>number</th>
                    <th>name</th>
                    <th>cover image</th>
                    <th>cover image preview</th>
                    <th>description</th>
                    <th>audio</th>
                    <th>voicers</th>
                </tr>
            </thead>
            <tbody>
                @for (episode of podcast()!.episodes; track $index) {
                <tr>
                    <td>{{episode.id}}</td>
                    <td>{{episode.number}}</td>
                    <td><span class="line-clamp-2">{{episode.name}}</span></td>
                    <td>{{!!episode.coverImageUrl}}</td>
                    <td>{{!!episode.coverImagePreviewUrl}}</td>
                    <td><span class="line-clamp-2">{{episode.description}}</span></td>
                    <td>{{!!episode.audioUrl}}</td>
                    <td>{{episode.voicers?.length}}</td>

                    <td>
                        <a class="icon-button" title="Update Episode"
                            [routerLink]="['/edit', 'podcasts', podcast()!.id, 'episodes', episode.id]"><fa-icon
                                [icon]="faPen" /></a>
                    </td>
                    <td>
                        <button type="button" class="icon-button" title="Delete Episode"
                            (click)="deleteEpisode(episode.id!)"><fa-icon [icon]="faTrash" /></button>
                    </td>
                </tr>
                }
                <tr>
                    <td colspan="100%">
                        <a class="button button-accent" title="Create Episode"
                            [routerLink]="['/edit', 'podcasts', podcast()!.id, 'episodes', 'create']">
                            Create Episode
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
}