<div class="max-w-lg m-auto">
    <h1 class="title text-center">Forgot password</h1>

    @if (token() == null){
    <p class="section text-center text-accent">
        Enter the email address associated with your account, and we'll send you a password reset link.
    </p>

    <form [formGroup]="forgotForm" (ngSubmit)="onForgotSubmit()"
        class="section m-auto flex flex-col items-center gap-4">
        <div class="max-w-full">
            <label class="label" for="email">Email</label>
            <input type="email" formControlName="email" id="email" class="input input-lg" />
            @if(forgotForm.controls.email.hasError('required')) {
            <p class="text-accent text-sm">
                Email is required
            </p>
            } @else if(forgotForm.controls.email.hasError('email')) {
            <p class="text-error text-sm">
                Email not valid
            </p>
            } @else if(forgotForm.controls.email.valid) {
            <p class="text-success text-sm">
                Email OK
            </p>
            }
        </div>

        <button type="submit" class="flex-none button button-primary button-rounded" title="Request"
            [disabled]="!forgotForm.valid || isForgotLoading()">Request</button>
    </form>
    }

    @if (email() != null && token() != null){
    <p class="section text-center text-accent">
        Enter a new password and confirm. After that, you will be able to login with the new credentials
    </p>

    <form [formGroup]="resetForm" (ngSubmit)="onResetSubmit()" class="section m-auto flex flex-col items-center gap-4">

        <div class="max-w-full">
            <label class="label" for="email">Email</label>
            <input type="email" formControlName="email" id="email" class="input input-lg" />
        </div>

        <div class="max-w-full">
            <label class="label" for="new-password">New password</label>
            <input type="password" formControlName="newPassword" id="new-password" class="input input-lg" />
            @if(resetForm.controls.newPassword.hasError('required')) {
            <p class="text-accent text-sm">New password is required</p>
            } @else if(
            resetForm.controls.newPassword.hasError('minLength') ||
            resetForm.controls.newPassword.hasError('uppercase') ||
            resetForm.controls.newPassword.hasError('lowercase') ||
            resetForm.controls.newPassword.hasError('number') ||
            resetForm.controls.newPassword.hasError('specialChar')
            ) {
            <div class="text-accent text-sm">
                <b>New password must have:</b>
                <ul>
                    <li>Minimum 6 characters</li>
                    <li>At least one uppercase letter</li>
                    <li>At least one lowercase letter</li>
                    <li>At least one number</li>
                    <li>At least one special character</li>
                </ul>
            </div>
            } @else if(resetForm.controls.newPassword.hasError('valuesMismatch')){
            <div class="text-accent text-sm">
                Now repeat the new password...
            </div>
            } @else if(resetForm.controls.newPassword.valid) {
            <p class="text-success text-sm">
                New password OK
            </p>
            }
        </div>

        <div class="max-w-full">
            <label class="label" for="new-password-repeat">Repeat new password</label>
            <input type="password" formControlName="newPasswordRepeat" id="new-password-repeat"
                class="input input-lg" />
            @if (resetForm.controls.newPassword.hasError('required')) {
            <p class="text-accent text-sm">
                New password is required
            </p>
            } @else if (resetForm.controls.newPasswordRepeat.hasError('required')) {
            <p class="text-accent text-sm">
                Repeat new password is required
            </p>
            } @else if(resetForm.controls.newPasswordRepeat.hasError('valuesMismatch')){
            <div class="text-error text-sm">
                New passwords do not match
            </div>
            } @else if(resetForm.controls.newPasswordRepeat.valid) {
            <p class="text-success text-sm">
                New password repeat OK
            </p>
            }
        </div>

        <button type="submit" class="flex-none button button-lg button-primary button-rounded button-lg" title="Save"
            [disabled]="!resetForm.valid || isResetLoading()">Save</button>
    </form>
    }
</div>