<div class="section flex flex-wrap gap-2">
  <a i18n i18n-title class="link font-medium leading-normal" title="Back to Podcasts"
    [routerLink]="['/podcasts']">Podcasts</a>
  <span class="text-accent font-medium leading-normal">/</span>
  <span class="font-medium leading-normal">{{ podcast().name }}</span>
</div>

<div class="object-parallax w-full rounded-xl min-h-[150px] sm:min-h-[250px]">
  <img class="img-parallax bg-accent" [secureSrc]="podcast().coverImageUrl" [secureOffline]="true"
    [alt]="podcast().name" />
</div>

<div class="title flex justify-between items-start gap-2">
  <h1 class="flex-1">{{ podcast().name }}</h1>

  <button i18n-title *appAuth type="button" class="button button-accent shrink-0 gap-2"
    [title]="isInMyLibrary() ? 'Remove from My Library' : 'Add to My Library'" [disabled]="isMyLibraryLoading()"
    (click)="toggleMyLibrary()">
    @if(isMyLibraryLoading()) {
    <fa-icon [icon]="faCircleNotch" class="animate-spin" />
    <span i18n class="hidden lg:inline">Loading...</span>
    } @else if(isInMyLibrary()) {
    <fa-icon [icon]="faBookBookmark" />
    <span i18n class="hidden lg:inline">In My Library</span>
    } @else {
    <fa-icon [icon]="faBookOpen" />
    <span i18n class="hidden lg:inline">Add to My Library</span>
    }
  </button>
</div>

<p class="subtitle text-accent">
  @for(creator of podcast().voicers; track $index) {
  <a>{{ creator.nickname }}</a>@if (!$last) {, } }
</p>

<p class="section whitespace-pre-line">
  {{ podcast().description }}
</p>

@if(podcast().episodes!.length > 0) {
<div class="section">
  <div class="title2 flex justify-between items-center">
    <h2 i18n class="flex-1">{{ podcast().episodes!.length }} Episodes</h2>

    <button i18n-title type="button" class="button button-primary button-rounded shrink-0 gap-2"
      title="Play all Episodes" (click)="playAll()">
      <fa-icon [icon]="faPlay" />
      <span i18n>Play all</span>
    </button>
  </div>

  <div class="gap-4 grid grid-cols-1 sm:grid-cols-[repeat(auto-fill,minmax(350px,1fr))]">
    @for (episode of podcast().episodes; track $index) {
    <app-podcast-episode-item [podcast]="podcast()" [podcastEpisode]="episode"></app-podcast-episode-item>
    }
  </div>
</div>
}