@use "tailwindcss";

@theme {
    --font-display: "Noto Serif", serif;

    --bg-color: #231f20;
    --bg-color-accent: #2e261f;
    --bg-color-success: #004120;
    --bg-color-warning: #c5642a;
    --bg-color-error: #b72727;

    --text-color: #ffffff;
    --text-color-accent: #bead9d;
    --text-color-link: #cccccc;
    --text-color-dark: #231f20;
    --text-color-disabled: #383838;
    --text-color-success: #15ff72;
    --text-color-warning: #ffa059;
    --text-color-error: #ff686a;

    --color-primary: #cd9b69;
    --color-primary-dark: #ad7b49;
    --color-primary-light: #edbb79;
    --color-accent: #40362b;
    --color-accent-dark: #20160b;
    --color-accent-light: #60564b;
    --color-disabled: #808080;
    --color-opacity: #aaaaaa44;
}


@keyframes object-scroll-parallax {
    from {
        --tw-translate-y: 0px;
        translate: 0 0px;
    }

    to {
        --tw-translate-y: -50px;
        translate: 0 -50px;
    }
}


html,
body {
    margin: 0;
    padding: 0;
    font-size: var(--text-base);
    font-family: var(--font-display);
    font-weight: var(--font-medium);
    background-color: var(--bg-color);
    color: var(--text-color);
    word-break: break-word;
    touch-action: pan-x pan-y; // disable double tap zoom for safari ios 
}


.title {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
    font-weight: var(--font-weight-bold);
    padding-block: calc(var(--spacing) * 4);
}

.title2 {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-l--line-height));
    font-weight: var(--font-weight-bold);
    padding-block: calc(var(--spacing) * 4);
}

.subtitle {
    margin-top: calc(var(--spacing) * -4);
    padding-bottom: calc(var(--spacing) * 4);
}

.section {
    margin-bottom: calc(var(--spacing) * 4);
}

.bg-success {
    background-color: var(--bg-color-success);
}

.bg-warning {
    background-color: var(--bg-color-warning);
}

.bg-error {
    background-color: var(--bg-color-error);
}

.text-success {
    color: var(--text-color-success);
}

.text-warning {
    color: var(--text-color-warning);
}

.text-error {
    color: var(--text-color-error);
}

.object-parallax {
    position: relative;
    overflow: hidden;
}

.object-parallax .img-parallax {
    object-fit: cover;
    inset: 0;
    position: absolute;
    width: 100%;
    height: calc(100% + 50px);
    animation: object-scroll-parallax linear both;
    animation-timeline: scroll(root);
}

.border-accent {
    border-color: var(--color-accent);
}

.border-primary {
    border-color: var(--color-primary);
}

.button {
    appearance: button;
    display: inline-flex;
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * 5);
    padding-block: calc(var(--spacing) * 2.5);
    text-align: center;
    transition-property: transform, background-color, color;
    transition-duration: 100ms;
    transform: translateY(0px);
}

.button[disabled] {
    color: var(--text-color-disabled);
}

.button:not([disabled]):hover {
    cursor: pointer;
    background-color: var(--color-opacity);
}

.button:not([disabled]):active {
    transform: translateY(2px);
}

.button.button-lg {
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * 6);
    padding-block: calc(var(--spacing) * 3);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
}

.button.button-xl {
    padding-inline: calc(var(--spacing) * 9);
    padding-block: calc(var(--spacing) * 4.5);
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
}

.button.button-rounded {
    border-radius: var(--radius-3xl);
}

.button.button-xl.button-rounded {
    border-radius: var(--radius-4xl);
}

.icon-button {
    appearance: button;
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    border-radius: 100%;
    padding: calc(var(--spacing) * 2);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);

    transition-property: transform, background-color, color;
    transition-duration: 100ms;
    transform: translateY(0px);
}

.icon-button .ng-fa-icon {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button[disabled] {
    color: var(--color-disabled);
}

.icon-button:not([disabled]):hover {
    cursor: pointer;
    background-color: var(--color-opacity);
}

.icon-button:not([disabled]):active {
    transform: translateY(2px);
}

.icon-button.button-lg {
    padding: calc(var(--spacing) * 3);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);

    width: calc(var(--spacing) * 12);
    height: calc(var(--spacing) * 12);
}

.icon-button.button-xl {
    padding: calc(var(--spacing) * 5);
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);

    width: calc(var(--spacing) * 16);
    height: calc(var(--spacing) * 16);
}


.list-item-button {
    transition-property: transform, background-color, color;
    transition-duration: 100ms;
}

.list-item-button:hover {
    background-color: var(--color-opacity);
}

.list-item-button:active {
    transform: translateY(2px);
}


.input-button {
    appearance: button;
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * 5);
    padding-block: calc(var(--spacing) * 2.5);
    text-align: center;
    /*background-color: var(--color-accent);*/

    transition-property: transform, background-color, color;
    transition-duration: 100ms;
    transform: translateY(0px);
}

.input-button.input-button-lg {
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * 6);
    padding-block: calc(var(--spacing) * 3);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
}

.input-button[disabled] {
    color: var(--text-color-accent);
}

.input-button:not([disabled]):hover {
    cursor: pointer;
    /*background-color: var(--color-accent-light);*/
}

.input-button:not([disabled]):active {
    transform: translateY(2px);
}

.button-accent {
    background-color: var(--color-accent);
    color: var(--text-color);
}

.button-accent[disabled] {
    background-color: var(--color-disabled);
    color: var(--text-color-disabled);
}

.button-accent:not([disabled]):hover {
    background-color: var(--color-accent-light);
}

.button-primary {
    background-color: var(--color-primary);
    color: var(--text-color-dark);
}

.button-primary[disabled] {
    background-color: var(--color-disabled);
    color: var(--text-color-disabled);
}

.button-primary:not([disabled]):hover {
    background-color: var(--color-primary-light);
}

.button-error {
    background-color: var(--bg-color-error);
}

.button-success {
    background-color: var(--bg-color-success);
}

.link {
    color: var(--text-color-link);
    --tw-font-weight: var(--font-weight-normal);
    font-weight: var(--font-weight-normal);
    text-underline-offset: calc(var(--spacing) * 0.5);

    transition-property: transform, text-decoration;
    transition-duration: 100ms;
    transform: translateY(0px);
}

.link:hover {
    text-decoration-line: underline;
}

.link:active {
    transform: translateY(2px);
}

.link-item {
    text-decoration-color: var(--text-color-link);
    text-underline-offset: calc(var(--spacing) * 0.5);

    transition-property: transform, text-decoration;
    transition-duration: 100ms;
    transform: translateY(0px);
}

.link-item:hover {
    text-decoration-line: underline;
}

.link-item:active {
    transform: translateY(2px);
}

.label {
    display: block;
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    font-weight: var(--font-bold);
    padding-block: calc(var(--spacing) * 1);
}

.hint {
    display: block;
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    padding-block: calc(var(--spacing) * 1);
}

.input {
    display: block;
    max-width: 100%;
    color: var(--text-color);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    background-color: var(--color-accent);
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * 5);
    padding-block: calc(var(--spacing) * 2.5);
}

.input::placeholder {
    color: var(--text-color-accent);
    opacity: 1;
    /* Firefox */
}

.input::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: var(--text-color-accent);
}

.input-checkbox {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
}

.input-accent {
    color: var(--text-color);
    background-color: var(--color-accent-light);
}

.input[disabled] {
    background-color: var(--color-disabled);
    color: var(--text-color-disabled);
}

.input-lg {
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * 6);
    padding-block: calc(var(--spacing) * 3);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
}

.table {
    text-align: left;
}

.table tr {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 2px;
    border-color: var(--color-accent);
}

.table th,
.table td {
    padding-inline: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 1);
}