@use "tailwindcss";

@theme {
    --font-display: "Noto Serif", serif;

    --bg-color: #231f20;
    --bg-color-accent: #2e261f;
    --bg-color-success: #004120;
    --bg-color-error: #4f2526;

    --text-color: #ffffff;
    --text-color-accent: #bead9d;
    --text-color-dark: #231f20;
    --text-color-disabled: #383838;
    --text-color-error: #ff686a;
    --text-color-success: #15ff72;

    --color-primary: #cd9b69;
    --color-primary-dark: #ad7b49;
    --color-primary-light: #edbb79;
    --color-accent: #40362b;
    --color-accent-dark: #20160b;
    --color-accent-light: #60564b;
    --color-disabled: #808080;
    --color-opacity: #ffffff31;
}
    

@keyframes bg-scroll-parallax {
    from {
        background-position: center 0;
    }

    to {
        background-position: center 100%;
    }
}


html,
body {
    font-family: var(--font-display);
    font-weight: var(--font-medium);
    background-color: var(--bg-color);
    color: var(--text-color);
    word-break: break-word;
}


.title {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
    font-weight: var(--font-weight-bold);
    padding-block: calc(var(--spacing) * 4);
}

.title2 {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-l--line-height));
    font-weight: var(--font-weight-bold);
    padding-block: calc(var(--spacing) * 4);
}

.subtitle {
    margin-top: calc(var(--spacing) * -4);
    padding-bottom: calc(var(--spacing) * 4);
}

.section {
    margin-bottom: calc(var(--spacing) * 4);
}

.text-success {
    color: var(--text-color-success);
}

.text-error {
    color: var(--text-color-error);
}

.bg-parallax {
    background-attachment: scroll;
    animation: bg-scroll-parallax linear both;
    animation-timeline: scroll(root);
}

.border-accent {
    border-color: var(--color-accent);
}

.border-primary {
    border-color: var(--color-primary);
}

.button {
    appearance: button;
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * 5);
    padding-block: calc(var(--spacing) * 2.5);
    text-align: center;
}

.button[disabled] {
    background-color: var(--color-disabled);
    color: var(--text-color-disabled);
}

.button:not([disabled]):hover {
    cursor: pointer;
    background-color: var(--color-opacity);
}

.button.button-lg {
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * 6);
    padding-block: calc(var(--spacing) * 3);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
}

.button.button-xl {
    padding-inline: calc(var(--spacing) * 9);
    padding-block: calc(var(--spacing) * 4.5);
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
}

.button.button-rounded {
    border-radius: var(--radius-3xl);
}

.button.button-xl.button-rounded {
    border-radius: var(--radius-4xl);
}

.icon-button {
    appearance: button;
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    border-radius: 100%;
    padding: calc(var(--spacing) * 2);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);
}

.icon-button .ng-fa-icon {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button:hover {
    cursor: pointer;
    background-color: var(--color-opacity);
}

.icon-button.button-lg {
    padding: calc(var(--spacing) * 3);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);

    width: calc(var(--spacing) * 12);
    height: calc(var(--spacing) * 12);
}

.icon-button.button-xl {
    padding: calc(var(--spacing) * 5);
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);

    width: calc(var(--spacing) * 16);
    height: calc(var(--spacing) * 16);
}

.button-accent {
    background-color: var(--color-accent);
    color: var(--text-color);
}

.button-error {
    background-color: var(--bg-color-error);
    color: var(--text-color-error);
}

.button-success {
    background-color: var(--bg-color-success);
    color: var(--text-color-success);
}

.button-accent:not([disabled]):hover {
    cursor: pointer;
    background-color: var(--color-accent-light);
}

.button-primary {
    background-color: var(--color-primary);
    color: var(--text-color-dark);
}

.button-primary:not([disabled]):hover {
    cursor: pointer;
    background-color: var(--color-primary-light);
}

.link {
    color: var(--text-color-accent);
    --tw-font-weight: var(--font-weight-normal);
    font-weight: var(--font-weight-normal);
}

.link:hover {
    text-decoration: underline;
}

.link-item {
    text-decoration-color: var(--text-color-accent);
}

.link-item:hover {
    text-decoration-line: underline;
}

.label {
    display: block;
    font-size: var(--text-sm);
    font-weight: var(--font-bold);
}

.input {
    display: block;
    max-width: 100%;
    color: var(--text-color);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    background-color: var(--color-accent);
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * 5);
    padding-block: calc(var(--spacing) * 2.5);
}

.input::placeholder {
    color: var(--text-color-accent);
    opacity: 1;
    /* Firefox */
}

.input::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: var(--text-color-accent);
}

.input-checkbox {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
}

.input-accent {
    color: var(--text-color);
    background-color: var(--color-accent-light);
}

.input[disabled] {
    background-color: var(--color-disabled);
    color: var(--text-color-disabled);
}

.input-lg {
    border-radius: var(--radius-lg);
    padding-inline: calc(var(--spacing) * 6);
    padding-block: calc(var(--spacing) * 3);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
}

.table {
    text-align: left;
}

.table tr {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 2px;
    border-color: var(--color-accent);
}

.table th,
.table td {
    padding-inline: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 1);
}